html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #c2f4ff;
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none; 
    scroll-behavior: smooth;

}
body::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-moz-selection { /* Code for Firefox */
  color: #2e2e2e;
  background: #f2ed72;
}

::selection {
  color: #2e2e2e;
  background: #f2ed72;
}
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
